body{
    max-width:960;
   margin:auto;
}
img{
    max-width:100%;
}
.colored-background{
color:rgb(162, 14, 14);
background-color:aquamarine;
font-size:20px;
line-height:1.5;
}
.main{
    background-color:black;
    color:white;
    max-width: 1080px;
    margin:auto;
    text-align:center;
    text-decoration:none;
}
#background {
    height:725px;
}
.body{
background-color: rgb(176, 185, 146);
}
.header{
background-color:blue;
}
.nav a{
    color:black;
    background-color:yellow ;
}
.nav_bar a:hover{
    background-color: yellow;
    color:yellow;
}
.book{
    max-width:1080px;
    min-height:100px;
    text-align:center;
    vertical-align: center;
    font-size:50px;
    background-color: rgb(187, 217, 135);
color:aqua;
}
.book:hover{
color:rgb(126, 240, 240);
background-color: blue;
}
.join{
    max-width:1080px;
    background-color:aqua ;
    font-size:50px;
    text-decoration:none;
}
.join:hover{
    background-color: teal;
    color:chartreuse;
}
.msg{
    background-color: yellow;
}
.footer{
    background-color:rgb(20, 206, 175) ;
}
.logo{
    max-width:80px
}
.icon{
    width:80px;
}
